.banner{
    width: 100%;

    img{
        width: 100%;
    }

}

.groupProduct{
    width: 1200px;
    margin: auto;

    h4{
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 22px 15px;
        font-size: 2.6rem;
        font-weight: 700;
    }

    .groupProductItems{
        display: flex;
        flex-wrap: wrap;

        .groupProductItem{
            padding: 0 15px;
            margin-bottom: 10px;
            width: 16.666667%;
    
            img{
                width: 100%;
            }

            h3{
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
            }
        }
    }

}


.productContent{
    width: 100%;
    margin-top: 100px;

    .productContentOne{
        width: 100%;
        display: flex !important;

        .productContentOneLeft{
            width: 50%;

            img{
                width: 100%;
            }
        }

        .productContentOneRight{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            padding-right: calc(50vw - 700px) !important;
            padding-left: 50px;

            .productItem{
                width: 50%;
            }
        }
    }

    .productContentTwo{
        width: 80% !important;
        margin: auto;
        display: flex !important;
        justify-content:space-between;
        flex-wrap: wrap;
        padding-bottom: 24px;

        .productItemTwo{
            width: 25%;
        }
    }
}