.slide {
    width: 100%;
}

.aa {
    color: red;
}

.imageBanner {
    height: auto;
    width: 100%;
}

.productCategory {
    margin-top: 0px;
}

.productCategory-1 {
    width: 100%;
    display: flex;
    flex-direction: row;

    .productCategoryImg {
        width: 50%;
        z-index: 100;

        img {
            width: 100%;
        }
    }

    .productCategory-1-left {
        box-sizing: border-box;
        width: 50%;
        padding: 70px 50px;

        .productCategoryTitle {
            padding-left: 30px;

            h3 {
                font-size: 22px;
            }
        }

        .productCategoryItems {
            display: flex;
            flex-wrap: wrap;

            .productCategoryItem {
                width: 41.6667%;
                padding: 30px;
                box-sizing: border-box;

                .productCategoryImg {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .productCategoryName {
                    :hover {
                        opacity: 0.6;
                    }
                    p {
                        margin-top: 10px;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.productCategoryItems2 {
    width: 83.3333%;
    margin-left: 8.33333%;
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    box-sizing: border-box;

    .productCategoryItem2 {
        padding: 30px;
        width: 25%;

        img {
            width: 100%;
        }

        .productCategoryName2 {
            :hover {
                opacity: 0.6;
            }
            p {
                margin-top: 10px;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}

//concept
.concept{
    width: 100%;
    margin: 50px auto;

    .conceptContent{
        width: 1200px;
        margin: auto;

        .conceptTop{
            display: flex;
            justify-content: space-between;
            width: 100%;

            div{
                width: 50%
            }

            .conceptTopLeft{
                padding: 0 15px 25px 15px;
                h3{
                    font-size: 20px;
                    font-weight: 500;
                    margin: 50px 0 15px 10px;
                }

                h4{
                    font-size:14px;
                    font-weight: 300;
                    width: 70%;
                }
            }

            .conceptTopRight{
                padding: 0 15px 25px 15px;
                text-align: center;

                h3{
                    font-size: 20px;
                    font-weight: 700;
                    margin: 15px 0 30px 0;
                    width: 90%;
                }

                h4{
                    font-size: 17px;
                    font-weight: 500;
                    margin-bottom: 8px;
                }
            }

            h3::before{
                position: absolute;
                height:25px;
                width: 25px;
                content: "";
                background: var(--primary-color);
                border-radius: 50%;
                left: -10px;
                top: -8px;
                opacity: 0.6;
                z-index: -1;
            }
        }

        .conceptBottom{
            width: 100%;

            .conceptItem{
                width: 50%;
                box-sizing: border-box;
                padding: 0 15px;

                .conceptImg{
                    width: 100%;
                    
                    img{
                        width: 100%;
                    }
                }

                h4{
                    margin-top: 10px;
                }
            }

        }
    }
}

.constructionDesign{
    display: flex;
    width: 100%;

    .constructionDesignLeft{
        width: 50%;
        position: relative;

        .constructionDesignLeft1{

            img{
                width: 100%;
            }
        }

        .constructionDesignLeft2{
            position: absolute;
            bottom: 0;

            img{
                width: 50%;
            }
        }        
    }

    .constructionDesignRight{
        width: 50%;

        img{
            width: 100%;
        }
    }
}

.aboutUs{
    margin: 40px 0;
    display: flex;

    .aboutUsLeft{
        width: 33.333%;
        padding-left: 132px;
        padding-right: 20px;
        box-sizing: border-box;
        
        h3{
            font-size: 30px;
            margin-bottom: 15px;
        }
    }

    .aboutUsRight{
        box-sizing: border-box;
        width: 66.667%;
        padding-left: 20px;

        img{
            width: 100%;
        }
    }
    
    p{
        margin-bottom: 15px;
        font-size: 14px;
    }
}